@import 'styles/color/ColorStyle.scss';
@import 'styles/font/FontStyle.scss';

.MatchCard{
  width: 100%;
  height: 150px;
  min-height: 150px;
  display: flex;
  align-items: center;
  background-color: $backShadowTransColor;
  padding: 10px;
  border-radius: 3px;
  color: $white;
  margin: 10px 0;
  &.fail{
    background-color: $redTransColor;
  }
  &-typeWrap{
    width: auto;
    min-width: 100px;
    height: 100%;
    display: inherit;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &-isWin{
      font-family: $DOHYEON_REGULAR;
      font-size: 22px;
    }
    &-startTime{
      font-size: 12px;
      margin-bottom: 3px;
    }
    &-queueType{
      font-family: $DOHYEON_REGULAR;
      font-size: 16px;
    }
    &-gameTime{
      font-size: 12px;
    }
  }
  &-inGameWrap{
    width: auto;
    min-width: 80px;
    height: 100%;
    display: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 75px;
    &-kda{
      font-size: 20px;
      margin-bottom: 5px;
    }
    &-average{
      font-size: 14px;
    }
    &-multiKill{
      width: auto;
      min-height: 25px;
      display: inherit;
      justify-content: center;
      align-items: center;
      background-color: rgba($color: $red, $alpha: .6);
      font-size: 14px;
      border-radius: 10px;
      margin-top: 10px;
      padding: 0 7px;
    }
  }
  &-dataWrap{
    width: auto;
    min-width: 80px;
    height: 100%;
    display: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin-left: 30px;
    &-level{
      margin-bottom: 5px;
    }
  }
  &-championWrap{
    width: 150px;
    height: 100%;
    display: inherit;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    &-championImg{
      width: 64px;
      height: 64px;
      min-width: 64px;
      min-height: 64px;
      border-radius: 50px;
      border: 3px solid $black;
      margin-left: 10px;
      margin-right: 5px;
      -webkit-user-drag: none;
      user-select: none;
    }
    &-spellWrap{
      display: inherit;
      flex-direction: column;
      margin-right: 10px;
      &-firstSpell{
        width: 30px;
        height: 30px;
        min-width: 30px;
        min-height: 30px;
        -webkit-user-drag: none;
        user-select: none;
        margin-bottom: 3px;
        border: 1px solid $black;
      }
      &-secondSpell{
        width: 30px;
        height: 30px;
        min-width: 30px;
        min-height: 30px;
        -webkit-user-drag: none;
        user-select: none;
        border: 1px solid $black;
      }
    }
  }
  
  &-itemList{
    width: 350px;
    height: 100%;
    display: inherit;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    &>img{
      width: 42px;
      height: 42px;
      min-width: 42px;
      min-height: 42px;
      -webkit-user-drag: none;
      user-select: none;
      border: 1px solid $transGray;
      margin: 0 2px;
    }
    &>.noneItem{
      background-color: $blackTransColor;
    }
  }
  &-teamList{
    width: 300px;
    min-width: 300px;
    height: 100%;
    display: inherit;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: 50px;
    &-member{
      width: 150px;
      min-width: 150px;
      height: 20px;
      min-height: 20px;
      display: inherit;
      flex-direction: row;
      margin: 3px 0;
      &>img{
        width: 25px;
        height: 25px;
        min-width: 25px;
        min-height: 25px;
      }
      &-summonerName{
        display: inherit;
        align-items: center;
        font-size: 14px;
        cursor: pointer;
        &:hover{
          border-bottom: 1px solid $white;
        }
      }
    }
  }
}