@import 'styles/color/ColorStyle.scss';
@import 'styles/font/FontStyle.scss';

.Compare{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  &-desc{
    color: $transGray;
    font-size: 12px;
    margin-top: 30px;
  }
  &-contents{
    width: 100%;
    height: auto;
    min-height: 800px;
    display: inherit;
    flex-direction: row;
    &-leftCtt{
      width: 50%;
      height: auto;
      display: inherit;
      border-radius: 3px;
      flex-direction: column;
      margin-right: 12px;
      border-right: 1px solid $transGray;
      &-top{
        display: inherit;
        flex-direction: column;
        color: $white;
        width: 100%;
        height: 300px;
        min-height: 300px;
        justify-content: center;
        align-items: center;
        &>img{
          width: 124px;
          min-width: 124px;
          height: 124px;
          min-height: 124px;
          border-radius: 60px;
          border: 2px solid $backColor;
          margin-bottom: 15px;
        }
        &-name{
          font-size: 24px;
          font-family: $DOHYEON_REGULAR;
        }
        &-lane{
          font-size: 18px;
        }
      }
      &-infoList{
        display: inherit;
        flex-direction: column;
        width: 100%;
        height: auto;
        align-items: center;
        &-infoCard{
          width: 420px;
          height: 60px;
          display: inherit;
          flex-direction: row;
          font-size: 20px;
          color: $white;
          background-color: $blackTransColor;
          align-items: center;
          justify-content: center;
          padding: 0 30px;
          margin: 10px 0;
          &:hover{
            box-shadow: 0 0 10px 3px $black;
          }
          &.win{
            background-color: $backShadowTransColor;
          }
          &-cardTitle{
            margin-right: auto;
          }
        }
      }
    }
    &-rightCtt{
      width: 50%;
      height: 100%;
      display: inherit;
      flex-direction: column;
      border-radius: 3px;
      &-top{
        display: inherit;
        flex-direction: column;
        color: $white;
        width: 100%;
        height: 300px;
        min-height: 300px;
        justify-content: center;
        align-items: center;
        &>img{
          width: 124px;
          min-width: 124px;
          height: 124px;
          min-height: 124px;
          border-radius: 60px;
          border: 2px solid $backColor;
          margin-bottom: 15px;
        }
        &-name{
          font-size: 24px;
          font-family: $DOHYEON_REGULAR;
        }
        &-lane{
          font-size: 18px;
        }
      }
      &-infoList{
        display: inherit;
        flex-direction: column;
        width: 100%;
        height: auto;
        align-items: center;
        &-infoCard{
          width: 420px;
          height: 60px;
          display: inherit;
          flex-direction: row;
          font-size: 20px;
          color: $white;
          background-color: $blackTransColor;
          align-items: center;
          justify-content: center;
          padding: 0 30px;
          margin: 10px 0;
          &:hover{
            box-shadow: 0 0 10px 3px $black;
          }
          &.win{
            background-color: $backShadowTransColor;
          }
          &-cardTitle{
            margin-right: auto;
          }
        }
      }
    }
  }
}