$backColor: #232941;
$backTransColor: rgba($color:$backColor, $alpha: .8);
$blackTransColor: rgba($color:#000000, $alpha: .7);
$backShadowColor: #4d5b90;
$backShadowTransColor: rgba($color: $backShadowColor, $alpha: .5);
$black: #100f0f;
$red: #ed1a23;
$redTransColor: rgba($color: $red, $alpha: .3);
$gray: #d0ced0;
$transGray: rgba($color:$gray, $alpha: .5);
$white: #ffffff;