@import 'styles/color/ColorStyle.scss';
@import 'styles/font/FontStyle.scss';

.Home{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 250px;
  &-inputArea{
    width: 100%;
    height: 100%;
    display: inherit;
    position: relative;
    &-typeWrap{
      position: absolute;
      top: 15%;
      right: 8%;
      width: auto;
      display: inherit;
      align-items: center;
      flex-direction: column;
      &>label{
        position: relative;
        font-family: $DOHYEON_REGULAR;
        color: $white;
        padding-left: 25px;
        margin-right: 15px;
        margin-bottom: 10px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        &>input{
          position: absolute;
          opacity: 0; 
          cursor: pointer;
        }
        &>span{
          position: absolute;
          top: 0;
          left: 0;
          height: 20px;
          width: 20px;
          background-color: $backTransColor;
          border-radius: 50%;
          &:after {
            width: 8px;
            height: 8px;
            top: 6px;
            left: 6px;
            border-radius: 50%;
            background: $gray;
          }
          &:after {
            content: "";
            position: absolute;
            display: none;
          }
        }
        &>input:checked ~ span:after {
          display: block;
        }
      }
    }
    &-compareInput{
      width: 450px;
      height: 70px;
      display: inherit;
      flex-direction: row;
      background-color: $white;
      border-radius: 3px;
      margin: 0 auto;
      margin-bottom: 20px;
      &-searchWrap{
        width: 100%;
        height: 100%;
        display: inherit;
        background-color: $white;
        border-radius: 3px;
        &-inputs{
          display: inherit;
          flex-direction: column;
          width: 100%;
          height: auto;
          &>input{
            width: 390px;
            height: 350px;
            outline: none;
            padding: 5px;
            border: none;
            border-radius: 3px 0 0 0;
            &.bottom{
              border-top: 1px solid $backColor;
              border-radius: 0 0 0 3px;
            }
          }
        }
        &>button{
          width: 70px;
          height: 100%;
          outline: none;
          border: none;
          border-radius: 3px;
          cursor: pointer;
          &:hover{
            background-color: $transGray;
          }
        }
      }
    }
  }
  &>img{
    height: 200px;
    margin: 0 auto;
    user-select: none;
    -webkit-user-drag: none;
  }
  &-inputArea{
    width: 100%;
    height: 80px;
    display: inherit;
    &-searchWrap{
      width: 450px;
      height: 40px;
      display: inherit;
      background-color: $white;
      border-radius: 3px;
      margin: auto;
      margin-bottom: 20px;
      &>input{
        width: 400px;
        height: 100%;
        outline: none;
        padding: 5px;
        border: none;
        border-radius: 3px;
      }
      &>button{
        width: 50px;
        height: 100%;
        outline: none;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        &:hover{
          background-color: $transGray;
        }
      }
    }
  }
  &-rotationBox{
    width: 100%;
    height: 350px;
    display: inherit;
    flex-direction: column;
    background-color: $backTransColor;
    border-radius: 3px;
    &-title{
      height: 50px;
      min-height: 50px;
      font-family: $DOHYEON_REGULAR;
      font-size: 20px;
      color: $white;
      padding: 15px 15px 0 15px;
    }
    &-items{
      display: inherit;
      height: 100%;
      flex-wrap: wrap;
      align-content: flex-start;
      -webkit-user-drag: none;
      user-select: none;
      padding-top: 30px;
    }
  }
}