@import 'styles/color/ColorStyle.scss';
@import 'styles/font/FontStyle.scss';

.TierCard{
  width: 250px;
  height: 100%;
  display: flex;
  flex-direction: row;
  color: $white;
  align-items: center;
  margin-right: 15px;
  &>img{
    width: 120px;
    min-width: 120px;
    height: 120px;
    min-height: 120px;
    -webkit-user-drag: none;
    user-select: none;
  }
  &-contentWrap{
    display: inherit;
    flex-direction: column;
    &-queueType{
      font-size: 12px;
    }
    &-tier{
      font-size: 20px;
      font-family: $DOHYEON_REGULAR;
      margin-bottom: 8px;
    }
    &-point{
      font-size: 16px;
    }
    &-winlose{
      font-size: 16px;
    }
  }
}